{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags %}

{% block titletag %}Reset {{ user.de_namespaced_username }}'s Password?{% endblock %}

{% block content %}
  {% include "wagtailadmin/shared/header.html" with title="Reset Password for" subtitle=user.de_namespaced_username icon="user" %}

  <form action="{% url 'wagtailusers_users:admin_reset_password' user.username %}" method="POST">
    <input type="hidden" name="username" value="{{ user.de_namespaced_username }}">
    <input type="hidden" name="email" value="{{ user.email }}">
    <div class="nice-padding">
      {% csrf_token %}
      <ul class="fields">
        <li>
          Are you sure you want to send an email to <b>{{ user.de_namespaced_username }}</b> containing a link that will let them
          reset their password? Submitting this form will <i>not</i> change their current password.
        </li>
        <li><input type="submit" value="Yes, Send Password Reset Email" class="button"></li>
        <li><a class="button" href="{% url 'wagtailusers_users:index' %}">Cancel</a></li>
      </ul>
    </div>
  </form>
{% endblock %}
