{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags %}

{% block titletag %}Add user{% endblock %}

{% block content %}
  {% include "wagtailadmin/shared/header.html" with title="Add Local User" icon="user" %}

  <form action="{% url 'wagtailusers_users:add_local' %}" method="POST" class="create-user">
    <div class="nice-padding">
      {% csrf_token %}
      <ul class="fields">
        {% for field in form %}
          {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
        {% endfor %}
        <li><input type="submit" value="Add Local User" class="button" /></li>
      </ul>
    </div>
  </form>
{% endblock %}
