{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags %}

{% block titletag %}Editing {{ user.de_namespaced_username }}{% endblock %}

{% block content %}
  {% include "wagtailadmin/shared/header.html" with title="Editing" subtitle=user.de_namespaced_username icon="user" %}

  {# Users without a usable password are LDAP Users. #}
  {% if not user.has_usable_password %}
    <div class="read-only-user-info nice-margin">
      <div class="info">
        The info in this box is synced from LDAP. If it is incorrect or out of date, click "Save" below to re-sync it.
      </div>
      <div class="username"><label>LDAP UID:</label> {{ user.username }}</div>
      <div class="name"><label>Name:</label> {{ user.first_name }} {{ user.last_name }}</div>
      <div class="email"><label>Email:</label> {{ user.email }}</div>
    </div>
  {% endif %}
  <form action="{% url 'wagtailusers_users:edit' user.pk %}" method="POST" class="edit-user">
    <div class="nice-padding">
      {% csrf_token %}
      <ul class="fields">
        {% for field in form %}
          {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
        {% endfor %}
        <ul class="button-bar"> 
        <li><input type="submit" value="Save" class="button"></li>
        {% if user.has_usable_password %}
          <li class="right">
            <a class="button" href="{% url 'wagtailusers_users:admin_reset_password' user.de_namespaced_username %}">
              Reset This User's Password
            </a>
          </li>
        {% else %}
            {% if not requestor_is_superuser %}
                <li class="right">
                    <a class="button" href="{% url 'wagtailusers_users:remove_ldap_user' user.pk %}">
                    Remove User From This Site
                    </a>
                </li>
            {% endif %}
          {% endif %}
        </ul>
      </ul>
    </div>
  </form>
{% endblock %}
